# Terraform
.terraform/
.terraform*/
*.tfstate
*.tfstate.*
*state*
.terraform.lock.hcl
crash.log
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/

# Git
.git*

# Bash execution output and logs
*.log
*.out
*.bak
*.swp

# Shell history or temp files
*.tmp
*.temp
*.old
*.orig
*.rej
*~

# macOS metadata
.DS_Store
.AppleDouble
.LSOverride

# Certificate or key material (edit depending on usage)
*.pem
*.crt
*.key

# Encryption at Rest local key material (back this up securely - do NOT commit)
encryption_keys/

# VS Code and JetBrains IDEs
.vscode/
.idea/

# Kube config cache
.kube/

# Helm cache
.helm/

# Output from port forwarding or local test clusters
*.pid
*.sock

# Project-specific
NU
test*
*dc1*
my*
docker-compose*
gcs-service-account.json
scylla*.yaml
nodeconfig.yaml
gcp_init.conf
config/
tls/

# Miscellaneous
node_modules/
.env
