apiVersion: scylla.scylladb.com/v1alpha1
kind: NodeConfig
metadata:
  name: scylladb-nodepool-1
spec:
  localDiskSetup:
    raids:
    - name: nvmes
      type: RAID0
      RAID0:
        devices:
          #AWS modelRegex: Amazon EC2 NVMe Instance Storage
          nameRegex: ^/dev/nvme\d+n\d+$
    filesystems:
    - device: /dev/md/nvmes
      type: xfs
    mounts:
    - device: /dev/md/nvmes
      mountPoint: /var/lib/persistent-volumes
      unsupportedOptions:
      - prjquota
  #v19 sysctls:
  #v19 - name: fs.aio-max-nr
  #v19   value: "30000000"
  #v19 - name: fs.file-max
  #v19   value: "9223372036854775807"
  #v19 - name: fs.nr_open
  #v19   value: "1073741816"
  #v19 - name: fs.inotify.max_user_instances
  #v19   value: "1200"
  #v19 - name: vm.swappiness
  #v19   value: "1"
  #v19 - name: vm.vfs_cache_pressure
  #v19   value: "2000"
  placement:
    nodeSelector:
      scylla.scylladb.com/node-type: scylla
    tolerations:
    - effect: NoSchedule
      key: scylla-operator.scylladb.com/dedicated
      operator: Equal
      value: scyllaclusters
